name: build

on:
  push:
    tags: [v\d+.\d+.\d+]
    branches: [main]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.x
          cache: true
      - name: Tools bin cache
        uses: actions/cache@v4
        with:
          path: .bin
          key: ${{ runner.os }}-tools-${{ hashFiles('Makefile') }}
      - name: Check
        run: make check
      - name: Test
        run: make test
      - name: Coverage
        run: make test-cov
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true
          verbose: true
